footer {
    margin: $size-m 0;
    padding-top: $size-s;
    text-align: center;
    border-top: 1px solid $color-blue;
    font-size: 1.6rem;
}

footer div img {
    max-width: 170px;
    margin-left: 4px;
}