.item-wrapper {
  border-top: 1px solid lighten($color-blue, 50%);
  padding-top: $size-l;
  display: flex;

  &:not(:first-child) {
    margin-top: $size-l;
  }

  &:last-child {
    padding-bottom: $size-l;
  }

  img {
    display: inline-block;
    margin-right: $size-m;
    width: 180px;
    height: 270px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 
                0 2px 4px rgba(0, 0, 0, 0.07),
                0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
                0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  }

  div {
    position: relative;
  }

  .item-title {
    margin: 0;
    font-weight: 700;
    font-size: 2.2rem;

    span {
      font-weight: initial;
      color: $color-gray;
    }
  }

  .item-type {
    padding: 4px 12px;
    margin-right: 0.8rem;
    border: 1px solid lighten($color-blue, 40%);
    border-radius: 4px;
    font-size: 1.6rem;
    color: $color-gray;
    line-height: 5rem;
  }

  .item-date {
    font-size: 1.6rem;
    color: $color-gray;
  }

  p {
    margin: 1rem 0 0 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .item-rating {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;

    p {
      margin: 0 0 0.6rem 0;
      font-size: 1.6rem;
    }

    .item-rating-value {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  .item-rating-bar-bg {
    height: 10px;
    width: 100%;
    background-color: #e1e9ed;
    border-radius: 5px;
  }

  .item-rating-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    border-radius: 5px;
  }

  .item-rating-low {
    background-color: #de4e47;
  }
  .item-rating-medium {
    background-color: #f9d45b;
  }
  .item-rating-high {
    background-color: #84b53c;
  }

  .item-play-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #92c644;
    font-size: 1.6rem;
    color: #ffffff;
    padding: 8px 14px;
    border: none;
    border-radius: 2rem;
    outline: none;

    &:hover {
      outline: none;
      background-color: darken(#92c644, 10%);
    }
  }
  .item-play-btn-disabled {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: lighten($color-blue, 60%);
    font-size: 1.6rem;
    color: $color-blue;
    padding: 8px 12px;
    border: none;
    border-radius: 2rem;
    outline: none;

    &:hover {
      outline: none;
      cursor: not-allowed;
    }
  }
}
